<div class="container">
    <form #registrationForm="ngForm" (ngSubmit)=onSubmit(registrationForm.value)>
        <h1 class="center">Registration Form</h1>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter First Name</mat-label>
              <input matInput placeholder="Placeholder" name="fname" ngModel>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter Last Name</mat-label>
              <input matInput placeholder="Placeholder" name="lname" ngModel>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Enter Phone number</mat-label>
              <input matInput placeholder="Placeholder" name="phone" ngModel>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
                <mat-label>Enter Your Email</mat-label>
              <input matInput placeholder="Placeholder" name="email" ngModel>
              </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput name="address" ngModel></textarea>
              </mat-form-field>
          </p>
          <p>
              <button mat-raised-button color="primary" type="submit">Submit</button>
          </p>
    </form>
</div>
